@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');

:root {
  /* --frame: #ffadad;
  --toolbar: rgb(255, 250, 250); */
  --frame: #c1d9db;
  --toolbar: white;
  --active: #666666;
  --hover: #cccccc;
  --btn: #ffffff;
  --font: black;
}

.title-link {
  color: var(--font);
}

* {
  font-family: 'Helvetica', sans-serif;
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}

h1, h2 {
  text-align: center;
  margin: 5px;
  font-weight: 300;
  color: var(--font);
  touch-action: none;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 12px;
}

footer {
  text-align: center;
  font-size: 10px;
}

.select {
  width: 100%;
}


/* file input */

.fileinput {
  display: none;
}

.fileinput-label {
  background: var(--btn);
  color: var(--font);
  border: solid 1px rgb(82, 82, 82);
  padding: 5px;
  font-size: 12px;
  width: 100%;
  cursor: pointer;
}

#general {
  display: flex;
  margin: auto;
  justify-content: center;
}

/* chalkboard */

#chalkboard {
  box-sizing: content-box;
  position: relative;
  border: solid 10px var(--frame);
  border-radius: 10px 0px 0px 10px;
  background: var(--frame);
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

#overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  touch-action: none;
}

#text-overlay {
  position: absolute;
  padding: 5px;
  width: 100%;
  left: 0px;
  bottom: 0px;
  text-align: center;
  color: white;
  font-size: 20px;
  background: black;
  touch-action: none;
}

canvas {
  border: solid 1px;
}

/* gui */

#gui {
  background: var(--toolbar);
  border: solid 1px;
  border-left: none;
  border-radius: 0px 20px 20px 0px;
  width: 114px;
}

.gui-container {
  display: flex;
  flex-direction: column;
}

/* info */

.new-struct {
  margin: 50px 10px;
}

.info-text {
  color: var(--font);
  padding: 5px 0px;
  font-size: 12px;
}

.info {
  color: var(--font);
  padding: 10px 10px;
  font-size: 20px;
}

.info label {
  margin: 0px 5px;
}

.dim-input {
  width: 50%;
}

/* buttons */

/* section */

.sections-container {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
}

.section-btn {
  font-size: 12px;
  color: #111111;
  background: var(--btn);
  box-shadow: none;
  width: 90px;
  border: solid 1px;
  border-left: none;
  border-radius: 0px 5px 13px 0px;
  padding: 3px;
  margin: 1px 0px;
  cursor: pointer;
}

.section-btn.selected {
  background: var(--frame);
}

.section-btn.selected:hover {
  background: var(--frame);
}

.section-btn.guide {
  border: solid 2px cyan;
  border-left: none;
  width: 60px;
}

.section-btn:hover {
  background: var(--hover);
}

.section-btn:active {
  background:var(--active);
}

/* actions */

.actions-container {
  /* display: flex; */
  /* flex-direction: column; */
  margin: 5px;
}

.action-btn {
  font-size: 12px;
  color: #111111;
  background: var(--btn);
  box-shadow: none;
  border: solid 1px;
  border-radius: 4px;
  padding: 1px;
  max-width: 32px;
  margin: 3px 1px;
  cursor: pointer;
}

.btn-icon {
  max-width: 28px;
}

.salient-btn {
  background: #fffc40;
  /* display: block; */
}

.toggled-btn {
  background: #66ff6b;
}

.action-btn:hover {
  background: var(--frame);
}

.action-btn:active {
  background: var(--active);
}

/*  palette  */
.pencil-config {
  width: 100px;
  margin: 0px 5px 5px;
}

.pencil-preview {
  width: 50px;
  height: 50px;
  background-color: #eeeeee;
  background-image: url("./assets/checkers.png");
  background-size: contain;
  margin: 2px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.pencil-shape {
  border-radius: 100px;
  background: black;
}

.palette {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.palette-btn {
  width: 100%;
  height: 25px;
  border: solid 1px black;
  cursor: pointer;
}

.palette-btn:active {
  border: solid 1px red;
}

.pencil-config .action-slider {
  width: 100%;
}

/* multiprompt */

.multiprompt {
  position: fixed;
  width: 450px;
  padding: 30px;
  top: 100px;
  left: 50%;
  border-radius: 10px;
  box-shadow: 1px 1px 10px;
  transform: translate(-50%, 0);
  background: var(--btn);
  border: solid 1px black;
}

.multiprompt-line {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 5px;
}

.alert-btn-container {
  margin: 20px 0px 0px 0px;
  display: flex;
  justify-content: flex-end;
}

.prompt-check {
  display: inline-block;
}

.alert-btn {
  font-size: 14px;
  color: #111111;
  background: var(--btn);
  box-shadow: none;
  border: solid 1px;
  border-radius: 10px;
  padding: 5px;
  margin: 1px;
  cursor: pointer;
}

.alert-btn:hover {
  background: var(--frame);
}

.alert-btn:active {
  background:var(--active);
}

.coded-miniature {
  padding: 10px;
  width: 100%;
}